<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wkclz.generator.server.mapper.GenLogMapper">

    <select id="getLogList" parameterType="com.wkclz.generator.server.bean.entity.GenLog" resultType="com.wkclz.generator.server.bean.entity.GenLog">
        SELECT
            id,
            user_code,
            project_code,
            auth_code,
            gen_path,
            start_time,
            end_time,
            sort,
            create_time,
            create_by,
            update_time,
            update_by,
            remark,
            version
        FROM
            gen_log
        WHERE
            deleted = 0
            <if test="userCode != null">AND user_code = #{userCode}</if>
            <if test="projectCode != null">AND project_code = #{projectCode}</if>
            <if test="authCode != null">AND auth_code = #{authCode}</if>
        ORDER BY
            sort ASC,
            id DESC
    </select>


</mapper>
